/**
 * file: css/style.css
 **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

/* HEADER */
header {
    background-color: #16293D;
    padding: 1%;
}

#forside {
    background-color: white;
    opacity: 0.8;
}

#logo a > img {
    width: 125px;
}

#logo .forside_nav > img {
    width: 150px;
}

nav {
    display: grid;
    font-weight: 600;

}

nav a {
    text-decoration: none;
    color: white;
}

.forside_nav {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #ec9335;
}


#logo {
    grid-column: 1;
}

#nav1 {
    grid-column: 4;
}

#nav2 {
    grid-column: 5;
}

#nav3 {
    grid-column: 6;
}

#nav4 {
    grid-column: 7;
}

#nav5 {
    grid-column: 8;
}

#nav6 {
    grid-column: 9;
}

#nav7 {
    grid-column: 10;
}

/* Dette for teksten i menuen til at være centreret */
.navtext {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CONTENT */

.bread {
    padding-left: 2%;
    color: #ec9335;
}

.bread a {
    text-decoration: none;
    color: #ec9335;
}

.bread a:hover {
    text-decoration: underline;
    color: #3cac4c;
}

#body_forside {
    background-image: url(../img/baggrund.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.forside_tekst {
    margin-top: 10%;
    padding-left: 10%;
    color: white;
}

#registrer_knap {
    padding-left: 17%;


}

#registrer_knap p {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

button {
    background-color: #ec9335;
    border-radius: 40px;
    padding: 0;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #3cac4c;
}

/* REGISTRING */

.content {
    margin-top: 2%;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    margin: auto;
}

.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #16293D;
    padding: 20px 40px;
    color: white;
}

.header h2 {
    margin: 0;
    margin-left: 1%;
}

.form {
    padding: 30px 40px;
    display: grid;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {

    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.form button {
    background-color: #ec9335;
    border: 2px solid #ec9335;
    border-radius: 6px;
    color: #fff;
    font-size: ;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

.form button:hover {
    cursor: pointer;
    background-color: #3cac4c;
    border: 2px solid #3cac4c;
}

.form_grid_1 {
    grid-column: 1;
    margin: 2%;
}

.form_grid_2 {
    grid-column: 2;
    margin: 2%;
}

.form_grid_3 {
    grid-column: 4;
    margin: 2%;
}

.allerede_login {
    text-align: center;
}

.allerede_login a {
    color: #ec9335;
    font-weight: 600;
}

.allerede_login a:hover {
    text-decoration: none;
    color: #3cac4c;
}

/* LOG ING */

.logind_body {
    background-image: url(../img/baggrund_logind);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


.content_logind {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.logind_grid1 {
    grid-column: 1;
    padding-left: 10%;
}

.logind_grid2 {
    grid-column: 2;
    text-align: center;
    color: white;

}

.logind_grid2 h1 {
    margin: 0;
    padding-top: 20%;

}

/*Skifter navne */
#navne {
    color: #ec9335;
}

#navne:before {
    content: '';
    animation: animate infinite 20s;
}

@keyframes animate {
    0% {
        content: 'Per';
    }

    10% {
        content: 'Ulla';
    }

    20% {
        content: 'Torben';
    }

    30% {
        content: 'Tina';
    }

    40% {
        content: 'Rasmus';
    }

    50% {
        content: 'Caroline';
    }

    60% {
        content: 'Kristoffer';
    }

    70% {
        content: 'Mathilde';
    }

    80% {
        content: 'Preben';
    }

    90% {
        content: 'Susanne';
    }

    100% {
        content: 'Tim';
    }
}


/* TABS */

.outer h1 {
    text-align: center;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    padding: 20px;
    color: black;
}

/* The tabs */
. .outer h1 {
    text-align: center;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    padding: 20px;
    color: black;
}

/* The tabs */
.tab {
    font: bold 13px sans-serif;
    background-color: #16293D;
    border: 1px solid #CECECE;
    margin: 30px auto;
    width: 1200px;
    text-align: center;
    border-radius: 2px;
}

.tab ul {
    float: left;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding-left: 0px;
}



.tab ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    border-right: 0px;
    border-left: 0px;
    padding: 16px 40px 16px 20px;
}

.tab ul li a.tab-active {
    background-color: white;
    color: black;
}

.tab ul li:first-child a {
    border-top: 0px;
}


/* The content */
.tab .content {
    overflow: hidden;
    border-left: 1px solid #dddddd;
    font-weight: normal;
    background-color: #fff;
    padding: 20px 40px 45px;
    margin: 0px auto;
    box-shadow: -3px 0 0px #F3F3F3;
    text-align: center;
}

.tab .content div {
    display: none;
    min-height: 300px;
}

.tab .content div.content-active {
    display: grid;
}

.tab .content div p {
    color: #565a5c;
    line-height: 1.5;
    margin: 5px 0px 20px;
}


.content label {
    font-size: 1.2em;
}


.rediger1 {
    grid-column: 1;
}

.rediger2 {
    grid-column: 2;
}

.oversigt {
    display: block;
    text-align: center;
}

.oversigt img {
    width: 70%;

}

.hold {
    border: 1px solid #dddddd;
    margin-bottom: 2%;
    padding: 30px 40px;
    display: grid;
}

.hold label {
    display: inline-block;
    margin-bottom: 5px;
}

.hold input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.hold button {
    background-color: #ec9335;
    border: 2px solid #ec9335;
    border-radius: 6px;
    color: #fff;
    font-size: ;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

.hold button:hover {
    cursor: pointer;
    background-color: #3cac4c;
    border: 2px solid #3cac4c;
}

.tabs_header {
    color: white;
    background-color: #16293D;
    padding: 1px;
}

.deltagere {
    display: block;
    margin-top: 2%;

}

/*MAPBOX */


#map1 {
    width: 300px;
    height: 300px;
    grid-column: 1;
    border: 2px solid #dddddd;
}


#map2 {
    width: 300px;
    height: 300px;
    grid-column: 2;
    border: 2px solid #dddddd;
}


#map3 {
    width: 300px;
    height: 300px;
    grid-column: 3;
    border: 2px solid #dddddd;
}

.skridt {
    display: grid;
}


#indtast {
    margin-left: 5%;
    margin-right: 5%;
    grid-column: 1;
}

#indtast h1 {
    margin: 0;
}

#indtast h2 {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #16293D;
    color: white;
}

#indtast input {
    width: 90%;

}

.ruter {
    justify-content: center;
    margin: 0;
    display: grid;
    grid-gap: 2%;
    background-color: #16293D;
    margin-bottom: 5%;
    height: 500px;
    color: white;
}

.ruter input {
    margin-left: 15%;
    margin-bottom: 27%;
}

.skridt button {
    background-color: #ec9335;
    border: 2px solid #ec9335;
    border-radius: 6px;
    color: #fff;
    font-size: ;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

.skridt button:hover {
    cursor: pointer;
    background-color: #3cac4c;
    border: 2px solid #3cac4c;
}

/* MÅL */
.maal {}

.maal h2 {
    text-align: start;
}

.km_alene {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.km_alene img {
    text-align: start;
    width: 50%;
}

.samlet {
    display: block;
    font-weight: 600;
}


/* MODAL/POPUP VINDUE */

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal_content {
    background-color: transparent;
    padding: 2rem 4rem;
}

.modal .modal_content button {
    width: 100%;
    padding: 4%;
}

.besked {
    margin-top: 20%;
    font-style: italic;
    border: 1px solid #dddddd;
    padding: 2%;
    border-radius: 10px;
}
